<mat-toolbar color="primary">
  <button mat-icon-button (click)="drawer.toggle()" aria-label="Toggle sidenav">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="app-title">Contract Administration System</span>

  <span class="spacer"></span>

  <ng-container *ngIf="currentEmployee$ | async as emp">
    <div class="user-info">
      <!-- <mat-icon>account_circle</mat-icon> -->
      <div class="user-details">
        <div class="user-name">{{ emp.en_name || (emp.fName + ' ' + emp.lName) || emp.employee_Id }}</div>
        <!-- <div class="user-role">{{ emp.emplyee_Type_Posting_Group }}</div> -->
      </div>
    </div>
  </ng-container>
</mat-toolbar>